<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href=""><strong>FH5RP</strong></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="appnav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="appnav" class="navbar-menu">

            <div class="navbar-start">
                <NavbarLink Link="" Title="Home"/>
                <NavbarLink Link="debug" Title="Debug"/>
            </div>

            <div class="navbar-end">

            </div>

        </div>
    </div>
</nav>